.hellobar {
	background: #007bff;
	padding: 10px 0;
	color: #fff;
	position: absolute;
	z-index: 499;
	opacity: 0;
	width: 100%;
	padding-right: 50px;
	left: 0;
	transition: position 0s steps(1) .3s;

	&--show {
		opacity: 1;
		position: sticky;
		transition: position 0s steps(1), opacity .3s ease;

		.adminimal-admin-toolbar & {
			top: 80px;
		}
	}
	&--hide {
		opacity: 0;
		transition: opacity .3s ease;
	}

	&__close {
		position: absolute;
		width: 20px;
		height: 20px;
		background: url(../images/close.svg) no-repeat center center / contain;
		text-indent: -9999px;
		cursor: pointer;
		top: 50%;
		right: 25px;
		transform: translateY(-50%);

		@media only screen and(min-width: 768px) {
			top: 50%;
			right: 25px;
			transform: translateY(-50%);
		}
	}

	&--unpublished {
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(200, 0, 0, .3);
			border: 2px dashed red;
		}
	}

	&__edit {
		position: absolute;
		right: 10px;
		top: 4px;
		display: inline-block;
		padding: 0;
		background: #fff;
		border: 1px solid #ccc;
		padding: 4px 8px;
		border-radius: 4px;
		z-index: 3;
	}

	p:last-child {
		margin: 0;
	}


}