.hellobar {
  background: #007bff;
  padding: 10px 0;
  color: #fff;
  position: absolute;
  z-index: 499;
  opacity: 0;
  width: 100%;
  padding-right: 50px;
  left: 0;
  -webkit-transition: position 0s steps(1) 0.3s;
  -o-transition: position 0s steps(1) 0.3s;
  transition: position 0s steps(1) 0.3s;
}
.hellobar--show {
  opacity: 1;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: position 0s steps(1), opacity 0.3s ease;
  -o-transition: position 0s steps(1), opacity 0.3s ease;
  transition: position 0s steps(1), opacity 0.3s ease;
}
.adminimal-admin-toolbar .hellobar--show {
  top: 80px;
}
.hellobar--hide {
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.hellobar__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/close.svg) no-repeat center center/contain;
  text-indent: -9999px;
  cursor: pointer;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .hellobar__close {
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.hellobar--unpublished:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(200, 0, 0, 0.3);
  border: 2px dashed red;
}
.hellobar__edit {
  position: absolute;
  right: 10px;
  top: 4px;
  display: inline-block;
  padding: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 3;
}
.hellobar p:last-child {
  margin: 0;
}
